header {
    display: flex;
}

#profile {
    box-sizing: border-box;
    height: 292px;
    margin: 2.5%;
    width: 348px;
}

.profile-picture {
    
    border: 2px solid #00FF00;
    border-radius: 50%;
    box-sizing: border-box;
    height: 128px;
    margin: 10% 30vw 0 30%;
    width: 128px;
}

.name {
    margin: 5% 0 0 20%;
}

.function {
    margin: 0 0 0 30%;
}

#my-projects {
    align-items: center;
    background-color: #302F3D;
    border-radius: 20px;
    display: flex;
    height: 86px;
    justify-content: space-between;
    margin: 2.5% 2.5% 0 0;
    padding: 0 2.5%;
    width: 70%;
}

#project-one {
    background-color: #302F3D;
    border-radius: 20px;
    position: absolute;
    width: 500px;
    height: 186px;
    left: 425px;
    top: 157px;
}

#project-two {
    background-color: #302F3D;
    border-radius: 20px;
    position: absolute;
    width: 500px;
    height: 186px;
    left: 980px;
    top: 157px;
}

.project-estilization {
    display: flex;
    margin: 2em 0 0 2em;
}

.project-estilization img {
    padding-right: 15px;
}

.title-project {
    font-size: 16px;
    font-weight: 700;
}

.description-projects {
    margin-left: 2.5em;
}

.favorit-icon {
    margin: 2em;
}

@media screen and (max-width: 450px){
    header {
        flex-direction: column;
    }

    #profile {
        width: 100vw;
    }

    #my-projects {
        margin: 0 2.5% 2.5%;
        width: 100vw;
        padding: 10px;
        box-sizing: border-box;
    }

    .profile-picture {
        margin: 10% 30% 0;
    }

    .name {
        margin: 5% 0 0 25% ;
    }

    .function {
        margin: 0 0 0 30%
    }
}
